<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script type="text/javascript" src="js/vue.min.js"></script>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div id="cus_app">
    <transition name="slide1">
    <div class="mainBox" v-if="info_display">
        <transition name="side">
        <div class="aside_menu" v-if="show_menu">
           <div class="side">
                <span class="side_back" @click="back_side"></span>
               <div class="side_header">
                   <a><img src="https://microzz.com/img/avatar.jpg"></a>
                   <div class="about">
                       <span>张海龙</span>
                       <span id="lv">LV100</span>
                       <span class="sign">签到</span>
                    </div>
               </div>
               <div class="side_body"></div>
           </div>
           <div class="nothing" @click="back_side"></div>
        </div>
        </transition>
        <div class="header">
            <div class="appName">
                <span class="menu">
                    <i @click="show_sideMenu"></i>
                </span>
                <p>音乐</p>
                <span class="search">
                    <i></i>
                </span>   
            </div>
            <div class="allMenu">
                <div class="item myMusic" :class="{'active':isActivem}">
                    <a @click="toggle(tab_my)">{{tab_my}}</a>
                </div>
                <div class="item discover" :class="{'active':isActived}">
                    <a @click="toggle(tab_dic)">{{tab_dic}}</a>
                </div>
                <div class="item about" :class="{'active':isActivea}">
                    <a @click="toggle(tab_abo)">{{tab_abo}}</a>
                </div>
            </div>
        </div>
        <component :is="currentview"></component>
        <div class="footer" id="cus_footer">
            <div class="music_img"><img src="http://imgcache.qq.com/music/photo/album_300/13/300_albumpic_1137013_0.jpg" @click="toInfo"></div>
            <div class="music_name">
                <p>周深 - 化身孤岛的鲸 (原曲：我们都被忘了)</p>
                <div class="about">
                <span class="begin">{{beginTime}}</span>
                <div class="progressWrap" id="progressBar" v-on:click="progressChange($event)">
                    <div class="progress" v-bind:style="{width:persent}"></div>
                </div>
                <span class="end">{{endTime}}</span>
                </div>
            </div>
            <div class="music_control" id="control"><span v-bind:class="{ play:pActive,'stop':sActive }" v-on:click="playOrStop"></span></div>
        </div>
    </div>
    </transition>
    <transition name="slide2">
    <div class="music_info" v-if="main_display">
        <div class="header_menu">
            <div class="back"><span @click="toMain"></span></div>
            <div class="music_title"><p>周深 - 化身孤岛的鲸 (原曲：我们都被忘了)</p></div>
            <div class="menu_list"><span></span></div>
        </div>
        <div class="lyric">
            <img src="http://imgcache.qq.com/music/photo/album_300/13/300_albumpic_1137013_0.jpg">
            <div class="image_radius">
                <img src='http://imgcache.qq.com/music/photo/album_300/13/300_albumpic_1137013_0.jpg'>
            </div>
            <div class="music_progress">
                <span class="bgt">{{beginTime}}</span>
                <div class="progress_bar" id="progress_bar" v-on:click="progressChange($event)">
                    <div class="progress_item" v-bind:style="{width:persent}"></div>
                </div>
                <span class="ent">{{endTime}}</span>
            </div>
        </div>
        <div class="music_footer">
            <div class="pro">
                <span></span>
            </div>
            <div class="stop_begin">
                <span v-bind:class="{ play:pActive,'stop':sActive }" v-on:click="playOrStop"></span>
            </div>
            <div class="next">
                <span></span>
            </div>
        </div>
    </div>
    </transition>
    <audio id="player" v-on:timeupdate="updateTime" src="http://ws.stream.qqmusic.qq.com/104128113.m4a?fromtag=46"></audio>
</div>
</body>
<script type="text/template" id="child1">
    <div class="body">
            <div class="menu_item" style="border:none">
            <img src="http://imgcache.qq.com/music/photo/album_300/13/300_albumpic_1137013_0.jpg">
            <span class="music_name">1.  周深 - 化身孤岛的鲸 (原曲：我们都被忘了)</span>
            <span class="music_delete"></span>
            </div>
            <div class="menu_item">
            <img src="http://imgcache.qq.com/music/photo/album_300/13/300_albumpic_1137013_0.jpg">
            <span class="music_name">2.  周深 - 化身孤岛的鲸 (原曲：我们都被忘了)</span>
            <span class="music_delete"></span>
            </div>
            <div class="menu_item">
            <img src="http://imgcache.qq.com/music/photo/album_300/13/300_albumpic_1137013_0.jpg">
            <span class="music_name">3.  周深 - 化身孤岛的鲸 (原曲：我们都被忘了)</span>
            <span class="music_delete"></span>
            </div>
            <div class="menu_item">
            <img src="http://imgcache.qq.com/music/photo/album_300/13/300_albumpic_1137013_0.jpg">
            <span class="music_name">4.  周深 - 化身孤岛的鲸 (原曲：我们都被忘了)</span>
            <span class="music_delete"></span>
            </div>
            <div class="tips">没有更多歌曲了~</div>
    </div>
</script>
<script type="text/template" id="child2">
    <div class="sousuo">
        <div class="search_input">
            <div class="input">
              <i></i>
              <input type="text" placeholder="搜索歌曲"></input>
            </div>
        </div>
    </div>
</script>
<script type="text/javascript">
        // Vue.component=("child2",{
        //     template:'sear'
        // });
           new Vue({
               el:'#cus_app',
               data:{
                  pActive:false,
                  sActive:true,
                  beginTime:"00.00",
                  endTime:"00.00",
                  persent:'0%',
                  tab_my:"我的",
                  tab_dic:"发现",
                  tab_abo:'关于',
                  currentview:'child1',
                  isActivea:false,
                  isActived:false,
                  isActivem:true,
                  main_display:false,
                  info_display:true,
                  show_menu:false
               },
               components:{
                   'child1':{
                   template:'#child1'
                   },
                   'child2':{
                    template:"#child2"
                   },
                   'child3':{
                    template:"关于"
                   }
               },
               methods:{
                   m_active:function(){
                    this.isActivea=false;
                    this.isActived=false;
                    this.isActivem=true;
                   },
                   d_active:function(){
                    this.isActivea=false;
                    this.isActived=true;
                    this.isActivem=false;
                   },
                   a_active:function(){
                    this.isActivea=true;
                    this.isActived=false;
                    this.isActivem=false;
                   },
                   toggle:function(tab){
                         if(tab==this.tab_dic){
                             this.currentview="child2";
                             this.d_active();
                         }else if(tab==this.tab_my){
                            this.currentview="child1";
                            this.m_active();
                         }else if(tab==this.tab_abo){
                            this.currentview="child3";
                            this.a_active();
                         }
                   },
                   back_side:function(){
                         this.show_menu=false;
                   },
                   show_sideMenu:function(){
                         this.show_menu=true;
                   },
                   toInfo:function(){
                        this.main_display=true;
                        this.info_display=false;
                   },
                   toMain:function(){
                        this.main_display=false;
                        this.info_display=true;
                   },
                   init:function(){
                    audio=document.querySelector('#player');
                    this.endTime=this.getEndTime(audio.duration);
                   },
                   play:function(){
                    this.pActive=true;
                    this.sActive=false;
                    audio.play();
                   },
                   stop:function(){
                    this.pActive=false;
                    this.sActive=true;
                    audio.pause();
                   },
                    playOrStop:function(){
                       this.init();
                       if(this.pActive==false){
                       this.play();
                       }else{
                       this.stop();
                       }
               },
                 getEndTime:function(time){
                     var totals=parseInt(time);
                     var minute=Math.floor(totals/60);
                     var second=totals-minute*60;
                     minute=minute<10?('0'+minute):minute;
                     second=second<10?('0'+second):second;
                     return minute+':'+second;
                 },
                 updateTime:function(){
                    audio=document.querySelector('#player');
                    this.beginTime=this.getEndTime(audio.currentTime);
                    this.persent=this.updatePercent(audio.currentTime,audio.duration);
                 },
                 updatePercent:function(cur,total){
                    var percent=parseInt((Number(cur)/Number(total)*100))+'%';
                    return percent;
                 },
                 progressChange:function(e){
                     audio=document.querySelector('#player');
                     var bar=document.getElementById(e.currentTarget.id);
                    //  alert(e.currentTarget.id);
                     var scroll=parseInt((Number(e.offsetX)/Number(bar.clientWidth-2)*100))+'%';
                     audio.currentTime=(audio.duration)*(parseInt(scroll)/100);
                     this.init();
                     this.play();
                    //  alert(bar.clientWidth-2);
                    //  alert(e.offsetX);
                 }
               }
           })
</script>
</html>